<h1>
	<strong>Pulsar</strong> 
</h1>
<p>
	由yahoo公司于2016年开源的消息中间件，2018年成为Apache的顶级项目。<br />
Pulsar1.jpg&nbsp;
</p>
<p>
	Pulsar2.jpg
</p>
<ul>
	<li>
		<strong>Producer</strong>:消息生产者，将消息发送到broker。
	</li>
	<li>
		<strong>Consumer</strong>:消息消费者，从Broker读取消息到客户端，进行消费处理。
	</li>
	<li>
		<strong>Broker</strong>: 消息处理的节点，将高效的持久化以及查询。
	</li>
</ul>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	Pulsar的Broker和其他消息中间件的都不一样，他是无状态的没有存储，所以可以无限制的扩展。
</blockquote>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<strong>Bookie</strong>: 负责所有消息的持久化，这里采用的是Apache Bookeeper。
</blockquote>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<strong>ZK</strong>: 和kafka一样pulsar也是使用zk保存一些元数据，比如配置管理,topic分配，租户等等。
</blockquote>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<strong>Service Discovery</strong>：可以理解为Pulsar中的nginx，只用一个url就可以和整个broker进行打交道，当然也可以使用自己的服务发现。
</blockquote>
<p>
	<strong style="white-space:normal;"><br />
</strong> 
</p>
<h2>
	<strong style="white-space:normal;">Producer</strong> 
</h2>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
<pre class="prettyprint linenums lang-java">PulsarClient client = PulsarClient.create("pulsar://ServiceDiscovery地址:端口");
Producer producer = client.createProducer("persistent://tenant/namespace/topic");
producer.send("消息".getBytes());</pre>
<strong>发送模式</strong><span style="white-space:pre;">: </span>send分为async和sync两种模式。但实际上在pulsar内部sync模式也是采用的async模式，在sync模式下模拟回调阻塞，达到同步的效果。pulsar支持批量发送，消息合并成一次请求，相对来说压缩，鉴权这些工作就只需要做一次。在pulsar中默认定时每隔1ms发送一次batch,或者当batchsize默认到了1000都会进行发送。<br />
<span style="white-space:pre;"> </span>Pulsar3.jpg<br />
<strong>发送负载均衡</strong>:<span style="white-space:pre;"> </span>将topic进行水平扩展分区partition，落在不同的broker上。Pulsar将每一个partition都封装成Producer，所有的信息分区映射信息在zk和broker的缓存中都有进行存储。通过查询broker，可以获取到分区和broker的关系，并且定时更新。<br />
<strong>压缩消息</strong>:<span style="white-space:pre;"> </span>lz4、zlib、zstd、snappy 等压缩类型。<br />
<pre class="prettyprint linenums lang-java">client.newProducer().topic(“主题”).compressionType(CompressionType.LZ4).create();</pre>
</blockquote>
<h2>
	<strong>Broker</strong> 
</h2>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<p>
		<strong>计算和存储分离</strong> 
	</p>
</blockquote>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<p>
		<strong>消息存储</strong> 
	</p>
</blockquote>
<ul>
	<li>
		<strong>Entry</strong>:存储到bookkeeper中的一条记录，其中包含Entry ID，记录实体等。
	</li>
	<li>
		<strong>Ledger</strong>:多个Entry序列组成一个ledger，是一个逻辑上的概念
	</li>
	<li>
		<strong>Journal</strong>:bookkeeper的WAL(write ahead log)，用于存bookkeeper的事务日志。
	</li>
	<li>
		<strong>Entry log</strong>:存储Entry的文件，entry会先按ledger聚合，然后写入entry log文件中。
	</li>
	<li>
		<strong>Index file</strong>:ledger的索引文件，用于entry log文件中每一个ledger做索引，记录每个ledger在entry log中的存储位置以及数据在entry log文件中的长度。
	</li>
	<li>
		<strong>MetaData Storage</strong>:元数据存储，是用于存储bookie相关的元数据，比如bookie上有哪些ledger，bookkeeper目前使用的是zk存储，所以在部署bookkeeper前，要先有zk集群。
	</li>
</ul>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<strong>写流程</strong>：顺序写 + pagecache。broker发起写请求，首先对Journal磁盘顺序写一个journal-wal文件。然后再将数据写入index和ledger，只会写入pagecache,异步刷盘。最后对写入进行ack。同步刷盘的只有Journal。ledger和index虽然都会存在多个文件，但是异步刷盘。所以随机写不会影响性能。
</blockquote>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<strong>读流程</strong>：broker cache + bookie cache。先读取index（先读取cache，再走disk）。然后根据index去entry logger中去对应的数据。在pulsar中对于追尾读(tailing read)非常友好基本不会走io,一般情况下我们的consumer是会立即去拿producer发送的消息的，所以这部分在持久化之后依然在broker中作为cache存在，当然就算broker没有cache（比如broker是新建的），我们的bookie也会在memtable中有自己的cache,通过多重cache减少读流程走io。
</blockquote>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<strong>无限流式存储</strong>：一个Topic实际上是一个ledgers流(Segment)，通过这个设计所以Pulsar他并不是一个单纯的消息队列系统，他也可以代替流式系统，所以他也叫流原生平台,可以替代flink等系统。
</blockquote>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<strong>分层存储</strong>：有一定的保存时间
</blockquote>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<strong></strong><strong>数据复制</strong>：采用了类似qurom协议
</blockquote>
<h2>
	Consumer
</h2>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<strong>订阅模式</strong>：独占，灾备，共享，键共享。
</blockquote>
<blockquote style="margin:0 0 0 40px;border:none;padding:0px;">
	<strong>消息获取模式</strong>：Dynamic Push/Pull，在Consumer发起long-polling请求时将Buffer剩余空间告知给Broker，Broker知道最多可以推送多少条数据，执行有限次push之后返回response给Consumer。
</blockquote>